@tailwind base;
* {
    @apply rounded-none shadow-none !important;
}

@tailwind components;
.bm-appbar {
    @apply flex flex-row justify-center md:justify-end bg-white !important;
}
.bm-search-bar {
    @apply w-1/2 md:w-1/4 border border-gray-400 m-1 rounded-md !important;
}
.bm-search-bar .MuiOutlinedInput-root {
    @apply p-0 !important;
}
.bm-search-bar .MuiOutlinedInput-notchedOutline {
    @apply border-none !important;
}
.bm-search-label {
    @apply text-sm md:text-2xl text-black flex self-center font-bold !important;
}
.bm-search-bar-output {
    @apply border border-solid border-gray-300 !important;
}

.bm-token-panel {
    @apply flex flex-col md:flex-row px-6 mt-16;
}
.bm-token-image {
    @apply w-full md:w-48 !important;
}
.bm-token-container {
    @apply px-0 md:px-6 !important;
}
.bm-token-header {
    @apply m-0 p-0 !important;
}
.bm-token-owner {
    @apply text-base sm:text-2xl pt-1 ml-2 !important;
}
.bm-token-header .MuiCardHeader-content {
    @apply flex flex-row !important;
}
.bm-token-header .MuiCardHeader-title {
    @apply text-4xl md:text-6xl font-bold flex self-end;
}
.bm-token-header .MuiCardHeader-subheader {
    @apply ml-2 text-4xl font-bold text-black text-xl tracking-tight flex self-end !important;
}
.bm-token-attr-content {
    @apply m-0 mt-8 p-0 !important;
}
.bm-token-attr-header {
    @apply m-0 p-0 !important;
}
.bm-token-attr-header .MuiCardHeader-title {
    @apply m-0 p-0 font-extrabold text-2xl !important;
}
.bm-token-attr-list {
    @apply flex flex-row flex-wrap px-4 py-0 !important;
}
.bm-token-attr {
    @apply my-1 !important;
}
.bm-token-attr span {
    @apply leading-4 !important;
}


.bm-d-happenings {
    @apply p-6;
}
.bm-d-happenings-header {
    @apply text-2xl md:text-4xl font-extrabold !important;
}
.bm-happening {
    @apply flex flex-row w-full max-w-[600px];
}
.bm-happening-avatar {
    @apply h-28 w-28 flex flex-none p-4 !important;
}
.bm-happening-avatar img {
    @apply h-24 w-auto;
}
.bm-happening-content {
    @apply flex flex-col grow;
}
.bm-happening-header {
    @apply m-0 p-0 !important;
}
.bm-happening-header .MuiCardHeader-content {
    @apply flex flex-row grow justify-between;
}
.bm-happening-header .MuiCardHeader-title {
    @apply font-extrabold flex self-end;
}
.bm-happening-header .MuiCardHeader-subheader {
    @apply font-extrabold text-black text-xl tracking-tight flex self-end;
}
.bm-happening-desc {
    @apply ml-2 text-[.75rem] font-extrabold min-h-[32px] leading-[.85rem] !important;
}
.bm-happening-footer {
    @apply flex justify-end text-gray-400 font-[525] tracking-tight text-base !important;
}
@tailwind utilities;
